.right-layer-img-about-me {
    display: flex; /* ใช้ Flexbox เพื่อจัด layout */
    justify-content: flex-start; /* จัดให้เนื้อหาอยู่ด้านซ้าย */
  }
  
  .imgheart {
    /* สามารถใช้ margin เพื่อขยับภาพไปทางซ้าย ยกเว้นในกรณีที่มีข้อกำหนดเฉพาะ */
    margin-right: 30px; /* ปรับขนาดตามที่คุณต้องการ */
  }

  .title_text {
    text-align: center;
    font-size: 50px;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.7s;
  }
  .navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ff85a3;
  }


.navbar {
  margin: 0;
  padding: 0;
}

.imgheart {
  /* CSS สำหรับ <img> ทางขวา */
  width: 400px; /* กำหนดความกว้างของ <img> */
  height: auto; /* ความสูงจะปรับให้เหมาะสมตามอัตราส่วน */
}
.navbar {
  margin-top: 0;
  padding-top: 0;
}

.app-container {
  margin-top: 60px;
}

.AboutMe-container {
  display: flex;
  width: 100%;
  height: 700px;
  background-position: center;
  justify-content: space-between; /* จัดเรียงสิ่งที่อยู่ในแนวนอน */
  background-image: url('background2.jpg'); /* รูปภาพที่คุณต้องการใช้เป็นพื้นหลัง */
  background-size: cover; /* ปรับขนาดภาพให้ครอบเติมพื้นที่ทั้งหน้า */
  margin: 0; /* กำหนดขอบเป็น 0 เพื่อลบระยะห่าง */
  padding: 0; /* ลบการเพิ่มระยะห่างของเนื้อหาภายใน */
}

.contract-container {
  display: flex;
  text-align: left;
  width: 100%;
  height: 600px;
  background-position: center;
  justify-content: space-between; /* จัดเรียงสิ่งที่อยู่ในแนวนอน */
  background-image: url('background3.jpg'); /* รูปภาพที่คุณต้องการใช้เป็นพื้นหลัง */
  background-size: cover; /* ปรับขนาดภาพให้ครอบเติมพื้นที่ทั้งหน้า */
  margin: 0; /* กำหนดขอบเป็น 0 เพื่อลบระยะห่าง */
  padding: 0; /* ลบการเพิ่มระยะห่างของเนื้อหาภายใน */
}

.education-container {
  display: flex;
  width: 100vw;
  height: 90vh;
  background-position: center;
  justify-content: space-between; /* จัดเรียงสิ่งที่อยู่ในแนวนอน */
  background-image: url('background4.jpg'); /* รูปภาพที่คุณต้องการใช้เป็นพื้นหลัง */
  background-size: cover; /* ปรับขนาดภาพให้ครอบเติมพื้นที่ทั้งหน้า */
  margin: 0; /* กำหนดขอบเป็น 0 เพื่อลบระยะห่าง */
  padding: 0; /* ลบการเพิ่มระยะห่างของเนื้อหาภายใน */
  margin-top: 60px;
}

.skill-container {
  display: flex;
  width: 100vw;
  height: 90vh;
  background-position: center;
  justify-content: space-between; /* จัดเรียงสิ่งที่อยู่ในแนวนอน */
  background-size: cover; /* ปรับขนาดภาพให้ครอบเติมพื้นที่ทั้งหน้า */
  margin: 0; /* กำหนดขอบเป็น 0 เพื่อลบระยะห่าง */
  padding: 0; /* ลบการเพิ่มระยะห่างของเนื้อหาภายใน */
  margin-top: 60px;
}